*.exe
geckodriver.log
geckodriver
chromedriver

**/UserData/
**/constants/computer_config.json
**/config/computer_config.json
**/config/seen_videos.txt
**/config/mainstream_seen_videos.txt


**/__pycache__
*.csv
*.out

**/.ipynb_checkpoints
**/logging
**/tests

*.log

/notebooks/data/.*